$info: hsl(229, 53%, 53%);

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-block {
    height: 100%;
}

.has-line-breaks {
    white-space: pre-line;
}

$navbar-box-shadow-size: 0 -5px 10px 0;
$navbar-box-shadow-color: black;

// TODO: This looks better but breaks responsiveness
// $modal-content-width: 960px;

@import '~bulma/bulma.sass';

/* raise specificity for GameCard buttons to not get overridden by .button.is-info:hover (which makes the border transparent) */
.card-footer-item:not(:last-child):hover {
    border-right: 1px solid #ededed;
}
