.card-spacing-wrapper {
    margin-bottom: auto;
}

.card-footer-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #485fc7;
}

.card-footer-button:hover .card-footer-button:active .card-footer-button:focus {
    color: #363636;
    border: none;
}

.card-footer-item-left {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card-footer-item-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
